In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", 500)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.model_selection import TimeSeriesSplit, cross_val_score
from sklearn.metrics import roc_auc_score
from hyperopt import fmin, hp, tpe, space_eval

from sklearn.model_selection import KFold, TimeSeriesSplit
import lightgbm as lgb
from time import time
from tqdm import tqdm_notebook

from xgboost import XGBClassifier
import os

import gc
import warnings
warnings.filterwarnings('ignore')

/Users/didi/anaconda3/lib/python3.6/site-packages/lightgbm/__init__.py:46: UserWarning:

Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.1) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.

In [2]:
output = pd.read_csv('../output/final_sub_v2.csv')
sub   = pd.read_csv('../output/final_sub_v2.csv')

In [3]:
NROWS = 2000
test = pd.read_csv('../temp/test_temp' + str(NROWS) + '.csv')
train = pd.read_csv('../temp/train_temp' + str(NROWS) + '.csv')

In [4]:
# test['card_str'] = test["card1"].apply(lambda x: str(x)) + "_" + test["card2"].apply(lambda x: str(x)) +\
#                 "_" + test["card3"].apply(lambda x: str(x)) + "_" + test["card4"].apply(lambda x: str(x)) +\
#                 "_" + test["card5"].apply(lambda x: str(x)) + "_" + test["card6"].apply(lambda x: str(x))

In [5]:
# test['card_addr1'] = test["card1"].apply(lambda x: str(x)) + "_" + test["card2"].apply(lambda x: str(x)) +\
#                 "_" + test["card3"].apply(lambda x: str(x)) + "_" + test["card4"].apply(lambda x: str(x)) +\
#                 "_" + test["card5"].apply(lambda x: str(x)) + "_" + test["card6"].apply(lambda x: str(x)) +\
#                 "_" + test["addr1"].apply(lambda x: str(x))

In [6]:
test['card_addr1_P_emaildomain'] = test["card1"].apply(lambda x: str(x)) + "_" + test["card2"].apply(lambda x: str(x)) +\
                "_" + test["card3"].apply(lambda x: str(x)) + "_" + test["card4"].apply(lambda x: str(x)) +\
                "_" + test["card5"].apply(lambda x: str(x)) + "_" + test["card6"].apply(lambda x: str(x)) +\
                "_" + test["addr1"].apply(lambda x: str(x)) + "_" + test["P_emaildomain"].apply(lambda x: str(x))

train['card_addr1_P_emaildomain'] = train["card1"].apply(lambda x: str(x)) + "_" + train["card2"].apply(lambda x: str(x)) +\
                "_" + train["card3"].apply(lambda x: str(x)) + "_" + train["card4"].apply(lambda x: str(x)) +\
                "_" + train["card5"].apply(lambda x: str(x)) + "_" + train["card6"].apply(lambda x: str(x)) +\
                "_" + train["addr1"].apply(lambda x: str(x)) + "_" + train["P_emaildomain"].apply(lambda x: str(x))

In [34]:
# test['TransactionAmt_card_addr1_P_emaildomain'] = test["TransactionAmt"].apply(lambda x: str(x)) + "_" +\
#                 test["card1"].apply(lambda x: str(x)) + "_" + test["card2"].apply(lambda x: str(x)) +\
#                 "_" + test["card3"].apply(lambda x: str(x)) + "_" + test["card4"].apply(lambda x: str(x)) +\
#                 "_" + test["card5"].apply(lambda x: str(x)) + "_" + test["card6"].apply(lambda x: str(x)) +\
#                 "_" + test["addr1"].apply(lambda x: str(x)) + "_" + test["P_emaildomain"].apply(lambda x: str(x))

# train['TransactionAmt_card_addr1_P_emaildomain'] = train["TransactionAmt"].apply(lambda x: str(x)) + "_" +\
#                 train["card1"].apply(lambda x: str(x)) + "_" + train["card2"].apply(lambda x: str(x)) +\
#                 "_" + train["card3"].apply(lambda x: str(x)) + "_" + train["card4"].apply(lambda x: str(x)) +\
#                 "_" + train["card5"].apply(lambda x: str(x)) + "_" + train["card6"].apply(lambda x: str(x)) +\
#                 "_" + train["addr1"].apply(lambda x: str(x)) + "_" + train["P_emaildomain"].apply(lambda x: str(x))

In [7]:
freatures = ["TransactionID", "isFraud", "card_addr1_P_emaildomain"]

In [8]:
train.loc[train["isFraud"] == 1, freatures]

,TransactionID,isFraud,card_addr1_P_emaildomain
203,2987203,1,18268_583.0_150.0_visa_226.0_credit_251.0_aol.com
240,2987240,1,13413_103.0_185.0_visa_137.0_credit_nan_hotmai...
243,2987243,1,13413_103.0_185.0_visa_137.0_credit_nan_hotmai...
245,2987245,1,13413_103.0_185.0_visa_137.0_credit_nan_hotmai...
288,2987288,1,16578_545.0_185.0_visa_226.0_credit_nan_outloo...
367,2987367,1,4425_562.0_150.0_mastercard_197.0_credit_472.0...
405,2987405,1,4504_500.0_185.0_mastercard_219.0_credit_nan_g...
630,2987630,1,5812_408.0_185.0_mastercard_224.0_debit_nan_gm...
683,2987683,1,5812_408.0_185.0_mastercard_224.0_debit_nan_gm...
736,2987736,1,15063_nan_150.0_visa_226.0_credit_231.0_yahoo.com
779,2987779,1,7481_364.0_146.0_mastercard_166.0_debit_441.0_nan
780,2987780,1,8732_360.0_150.0_mastercard_229.0_debit_441.0_nan
781,2987781,1,8732_360.0_150.0_mastercard_229.0_debit_441.0_nan
869,2987869,1,9026_545.0_185.0_visa_137.0_credit_nan_gmail.com
923,2987923,1,5033_269.0_150.0_mastercard_224.0_debit_330.0_...
1062,2988062,1,5009_296.0_185.0_visa_102.0_credit_nan_gmail.com
1064,2988064,1,2801_296.0_185.0_visa_137.0_credit_nan_gmail.com
1069,2988069,1,2801_130.0_185.0_visa_137.0_credit_nan_gmail.com
1081,2988081,1,9500_321.0_150.0_visa_226.0_debit_251.0_nan
1097,2988097,1,8320_476.0_150.0_visa_166.0_debit_269.0_gmail.com
1169,2988169,1,1191_555.0_191.0_visa_102.0_credit_330.0_yahoo...
1173,2988173,1,1191_555.0_191.0_visa_102.0_credit_330.0_yahoo...
1186,2988186,1,3524_555.0_150.0_visa_226.0_debit_330.0_yahoo.com
1195,2988195,1,3524_555.0_150.0_visa_226.0_debit_330.0_yahoo.com
1235,2988235,1,10057_225.0_150.0_mastercard_224.0_debit_204.0...
1250,2988250,1,9500_321.0_150.0_visa_226.0_debit_330.0_yahoo.com
1261,2988261,1,11839_490.0_150.0_visa_226.0_debit_420.0_aol.com
1269,2988269,1,10057_225.0_150.0_mastercard_224.0_debit_310.0...
1274,2988274,1,11839_490.0_150.0_visa_226.0_debit_420.0_aol.com
1282,2988282,1,11839_490.0_150.0_visa_226.0_debit_420.0_aol.com
1355,2988355,1,10057_225.0_150.0_mastercard_224.0_debit_204.0...
1612,2988612,1,9499_555.0_150.0_visa_226.0_debit_325.0_nan
1643,2988643,1,2803_100.0_150.0_visa_226.0_debit_272.0_yahoo.com
1680,2988680,1,3524_555.0_150.0_visa_226.0_debit_330.0_yahoo.com
1694,2988694,1,15775_481.0_150.0_mastercard_102.0_credit_251....
1702,2988702,1,17524_170.0_150.0_visa_195.0_credit_325.0_gmai...
1704,2988704,1,9499_555.0_150.0_visa_226.0_debit_325.0_nan
1706,2988706,1,17524_170.0_150.0_visa_195.0_credit_325.0_gmai...
1732,2988732,1,9112_250.0_150.0_visa_226.0_debit_441.0_gmail.com
1966,2988966,1,17635_565.0_150.0_visa_226.0_debit_325.0_nan
1992,2988992,1,17635_565.0_150.0_visa_226.0_debit_325.0_nan

In [9]:
delta = 30
train["window_delta_" + str(delta)] = 0

train[freatures + ["window_delta_" + str(delta)]]

,TransactionID,isFraud,card_addr1_P_emaildomain,window_delta_30
0,2987000,0,13926_nan_150.0_discover_142.0_credit_315.0_nan,0
1,2987001,0,2755_404.0_150.0_mastercard_102.0_credit_325.0...,0
2,2987002,0,4663_490.0_150.0_visa_166.0_debit_330.0_outloo...,0
3,2987003,0,18132_567.0_150.0_mastercard_117.0_debit_476.0...,0
4,2987004,0,4497_514.0_150.0_mastercard_102.0_credit_420.0...,0
5,2987005,0,5937_555.0_150.0_visa_226.0_debit_272.0_gmail.com,0
6,2987006,0,12308_360.0_150.0_visa_166.0_debit_126.0_yahoo...,0
7,2987007,0,12695_490.0_150.0_visa_226.0_debit_325.0_mail.com,0
8,2987008,0,2803_100.0_150.0_visa_226.0_debit_337.0_anonym...,0
9,2987009,0,17399_111.0_150.0_mastercard_224.0_debit_204.0...,0
10,2987010,0,16496_352.0_117.0_mastercard_134.0_credit_nan_...,0
11,2987011,0,4461_375.0_185.0_mastercard_224.0_debit_nan_ho...,0
12,2987012,0,3786_418.0_150.0_visa_226.0_debit_204.0_verizo...,0
13,2987013,0,12866_303.0_150.0_visa_226.0_debit_330.0_aol.com,0
14,2987014,0,11839_490.0_150.0_visa_226.0_debit_226.0_yahoo...,0
15,2987015,0,7055_555.0_150.0_visa_226.0_debit_315.0_nan,0
16,2987016,0,1790_555.0_150.0_visa_226.0_debit_170.0_aol.com,0
17,2987017,0,11492_111.0_150.0_mastercard_219.0_credit_204....,0
18,2987018,0,4663_490.0_150.0_visa_166.0_debit_184.0_gmail.com,0
19,2987019,0,7005_111.0_150.0_visa_226.0_debit_264.0_gmail.com,0
20,2987020,0,7875_314.0_150.0_mastercard_224.0_debit_299.0_...,0
21,2987021,0,11401_543.0_150.0_mastercard_117.0_debit_204.0...,0
22,2987022,0,1724_583.0_150.0_visa_226.0_credit_299.0_gmail...,0
23,2987023,0,2392_360.0_150.0_mastercard_166.0_debit_126.0_...,0
24,2987024,0,10112_360.0_150.0_visa_166.0_debit_264.0_gmail...,0
25,2987025,0,15385_111.0_150.0_mastercard_224.0_debit_441.0...,0
26,2987026,0,17868_148.0_150.0_visa_226.0_debit_472.0_me.com,0
27,2987027,0,11307_321.0_150.0_visa_226.0_debit_337.0_yahoo...,0
28,2987028,0,8431_269.0_150.0_mastercard_224.0_debit_251.0_nan,0
29,2987029,0,12932_361.0_150.0_visa_226.0_debit_204.0_gmail...,0
...,...,...,...,...
1970,2988970,0,18375_523.0_150.0_visa_162.0_credit_315.0_gmai...,0
1971,2988971,0,9500_321.0_150.0_visa_226.0_debit_204.0_nan,0
1972,2988972,0,7585_553.0_150.0_visa_226.0_credit_191.0_nan,0
1973,2988973,0,10616_583.0_150.0_visa_226.0_credit_327.0_gmai...,0
1974,2988974,0,9257_225.0_150.0_mastercard_224.0_debit_272.0_...,0
1975,2988975,0,2781_nan_150.0_visa_166.0_debit_264.0_gmail.com,0
1976,2988976,0,9500_321.0_150.0_visa_226.0_debit_204.0_yahoo.com,0
1977,2988977,0,15687_555.0_150.0_visa_226.0_debit_184.0_veriz...,0
1978,2988978,0,3148_111.0_150.0_visa_226.0_debit_272.0_nan,0
1979,2988979,0,14858_558.0_150.0_visa_226.0_debit_325.0_gmail...,0
1980,2988980,0,18132_567.0_150.0_mastercard_117.0_debit_337.0...,0
1981,2988981,0,17480_528.0_150.0_visa_226.0_credit_299.0_yaho...,0
1982,2988982,0,7005_111.0_150.0_visa_226.0_debit_310.0_yahoo.com,0
1983,2988983,0,15885_545.0_185.0_visa_138.0_debit_nan_gmail.com,0
1984,2988984,0,9500_321.0_150.0_visa_226.0_debit_325.0_nan,0
1985,2988985,0,2261_111.0_150.0_visa_226.0_debit_143.0_yahoo.com,0
1986,2988986,0,15597_528.0_150.0_visa_226.0_credit_220.0_nan,0
1987,2988987,0,12590_555.0_150.0_visa_226.0_debit_325.0_yahoo...,0
1988,2988988,0,17820_500.0_185.0_mastercard_224.0_credit_nan_...,0
1989,2988989,0,5492_113.0_150.0_visa_226.0_debit_441.0_nan,0
1990,2988990,0,4806_490.0_150.0_visa_226.0_debit_315.0_gmail.com,0
1991,2988991,0,15885_545.0_185.0_visa_138.0_debit_nan_gmail.com,0
1992,2988992,1,17635_565.0_150.0_visa_226.0_debit_325.0_nan,0
1993,2988993,0,9500_321.0_150.0_visa_226.0_debit_204.0_yahoo.com,0
1994,2988994,0,6892_560.0_150.0_visa_226.0_credit_170.0_yahoo...,0
1995,2988995,0,16081_555.0_150.0_visa_226.0_debit_441.0_nan,0
1996,2988996,0,4090_490.0_150.0_visa_226.0_debit_310.0_nan,0
1997,2988997,0,10486_514.0_150.0_mastercard_219.0_credit_184....,0
1998,2988998,0,7323_555.0_150.0_visa_226.0_debit_170.0_gmail.com,0
1999,2988999,0,1546_111.0_150.0_visa_226.0_debit_494.0_gmail.com,0

In [10]:
for i in tqdm_notebook(range(delta, len(train))):
    cur = i
    start = cur - delta
    end =   cur + delta
    cur_card_str = train.loc[cur, "card_addr1_P_emaildomain"]
    cnt  = train.loc[start:end].loc[train["card_addr1_P_emaildomain"] == cur_card_str].shape[0] - 1
    train.loc[cur, "window_delta_" + str(delta)] = cnt

HBox(children=(IntProgress(value=0, max=1970), HTML(value='')))

In [12]:
a = train.loc[(train["isFraud"] == 1) & (train["window_delta_" + str(delta)] != 0), freatures + ["window_delta_" + str(delta)]].shape[0]
b = train.loc[(train["isFraud"] == 1), freatures + ["window_delta_" + str(delta)]].shape[0]
print(a,b)
print(a/b)

16 41
0.3902439024390244

In [20]:
a = train.loc[(train["isFraud"] == 0) & (train["window_delta_" + str(delta)] != 0), freatures + ["window_delta_" + str(delta)]].shape[0]
b = train.loc[(train["isFraud"] == 0), freatures + ["window_delta_" + str(delta)]].shape[0]
print(a,b)
print(a/b)

307 1959
0.15671260847371107

In [8]:
output = output.merge(test[["TransactionID", "TransactionAmt_card_addr1_P_emaildomain"]], on="TransactionID", how="left")

In [9]:
test[["TransactionID", "TransactionAmt_card_addr1_P_emaildomain"]].head()

   TransactionID            TransactionAmt_card_addr1_P_emaildomain
0        3663549  31.95_10409_111.0_150.0_visa_226.0_debit_170.0...
1        3663550  49.0_4272_111.0_150.0_visa_226.0_debit_299.0_a...
2        3663551  171.0_4476_574.0_150.0_visa_226.0_debit_472.0_...
3        3663552  284.95_10989_360.0_150.0_visa_166.0_debit_205....
4        3663553  67.95_18018_452.0_150.0_mastercard_117.0_debit...

In [10]:
output.head()

   TransactionID   isFraud            TransactionAmt_card_addr1_P_emaildomain
0        3663549  0.038136  31.95_10409_111.0_150.0_visa_226.0_debit_170.0...
1        3663550  0.072050  49.0_4272_111.0_150.0_visa_226.0_debit_299.0_a...
2        3663551  0.069657  171.0_4476_574.0_150.0_visa_226.0_debit_472.0_...
3        3663552  0.091089  284.95_10989_360.0_150.0_visa_166.0_debit_205....
4        3663553  0.042804  67.95_18018_452.0_150.0_mastercard_117.0_debit...

In [11]:
output.loc[output["isFraud"] > 0.9]

,TransactionID,isFraud,TransactionAmt_card_addr1_P_emaildomain
220,3663769,0.901452,6.148_3154_408.0_185.0_mastercard_224.0_debit_...
278,3663827,0.988671,250.0_16727_111.0_150.0_visa_226.0_credit_441....
279,3663828,0.981312,250.0_16727_111.0_150.0_visa_226.0_credit_441....
287,3663836,0.995031,250.0_11106_100.0_150.0_visa_226.0_credit_337....
554,3664103,0.906737,9.529_3154_408.0_185.0_mastercard_224.0_debit_...
1338,3664887,0.966060,225.0_16659_170.0_150.0_visa_226.0_credit_177....
1359,3664908,0.977771,10.206_10086_500.0_185.0_mastercard_224.0_cred...
1364,3664913,0.977583,10.206_4606_141.0_185.0_visa_137.0_credit_nan_...
1372,3664921,0.983032,10.206_3154_408.0_185.0_mastercard_224.0_debit...
1443,3664992,0.911939,42.974_9633_130.0_185.0_visa_138.0_debit_nan_h...
1451,3665000,0.943464,42.974_9633_130.0_185.0_visa_138.0_debit_nan_h...
1838,3665387,0.982038,52.996_1976_545.0_185.0_visa_102.0_credit_nan_...
2848,3666397,0.935381,15.247_15146_311.0_185.0_visa_102.0_credit_nan...
2852,3666401,0.950158,17.214000000000002_3154_408.0_185.0_mastercard...
2940,3666489,0.977295,98.429_1976_545.0_185.0_visa_102.0_credit_nan_...
2941,3666490,0.986401,98.429_10054_289.0_185.0_visa_226.0_credit_nan...
2942,3666491,0.982973,98.429_8755_500.0_185.0_mastercard_224.0_credi...
2943,3666492,0.973724,98.429_18250_545.0_185.0_visa_226.0_credit_nan...
2953,3666502,0.935674,50.0_10616_583.0_150.0_visa_226.0_credit_436.0...
4056,3667605,0.946514,62.956_4504_500.0_185.0_mastercard_219.0_credi...
4058,3667607,0.965956,62.956_1976_545.0_185.0_visa_102.0_credit_nan_...
4063,3667612,0.989936,62.956_1976_545.0_185.0_visa_102.0_credit_nan_...
4067,3667616,0.995133,62.956_9026_545.0_185.0_visa_137.0_credit_nan_...
4072,3667621,0.994642,62.956_8755_500.0_185.0_mastercard_224.0_credi...
4076,3667625,0.996554,62.956_4504_500.0_185.0_mastercard_219.0_credi...
4079,3667628,0.995499,62.956_5365_177.0_185.0_mastercard_224.0_credi...
4083,3667632,0.995515,62.956_16095_500.0_185.0_mastercard_224.0_cred...
4089,3667638,0.998227,62.956_16062_500.0_185.0_mastercard_137.0_cred...
4090,3667639,0.998375,62.956_4504_500.0_185.0_mastercard_219.0_credi...
4380,3667929,0.905731,205.097_9026_545.0_185.0_visa_137.0_credit_nan...
...,...,...,...
501443,4164992,0.958790,56.782_15885_545.0_185.0_visa_138.0_debit_nan_...
501446,4164995,0.960335,56.782_15885_545.0_185.0_visa_138.0_debit_nan_...
501449,4164998,0.976514,56.782_5812_408.0_185.0_mastercard_224.0_debit...
501452,4165001,0.976194,56.782_3154_408.0_185.0_mastercard_224.0_debit...
501644,4165193,0.953229,34.798_2801_130.0_185.0_visa_137.0_credit_nan_...
501701,4165250,0.923072,73.53_13413_103.0_185.0_visa_137.0_credit_nan_...
501708,4165257,0.966914,73.53_9026_545.0_185.0_visa_137.0_credit_nan_o...
501712,4165261,0.990022,73.53_5009_130.0_185.0_visa_102.0_credit_nan_o...
501720,4165269,0.990464,73.53_2256_545.0_185.0_visa_226.0_credit_nan_o...
501964,4165513,0.925192,27.544_4504_500.0_185.0_mastercard_219.0_credi...
502030,4165579,0.949121,27.544_7949_142.0_185.0_visa_226.0_credit_nan_...
502634,4166183,0.963679,27.174_15315_202.0_185.0_mastercard_137.0_cred...
502677,4166226,0.955927,27.174_15315_202.0_185.0_mastercard_137.0_cred...
502722,4166271,0.962033,27.174_15315_202.0_185.0_mastercard_137.0_cred...
502730,4166279,0.962670,27.174_11201_103.0_185.0_visa_226.0_debit_nan_...
502739,4166288,0.979788,27.174_5458_266.0_185.0_mastercard_224.0_debit...
503369,4166918,0.988598,137.22299999999998_14543_500.0_185.0_mastercar...
504928,4168477,0.951454,8.607000000000001_15944_266.0_185.0_mastercard...
504934,4168483,0.915719,12.296_3154_408.0_185.0_mastercard_224.0_debit...
504935,4168484,0.943080,12.296_3154_408.0_185.0_mastercard_224.0_debit...
504936,4168485,0.956253,12.296_9633_130.0_185.0_visa_138.0_debit_nan_g...
504957,4168506,0.953161,40.515_11201_103.0_185.0_visa_226.0_debit_nan_...
504960,4168509,0.927233,62.033_4504_500.0_185.0_mastercard_219.0_credi...
505697,4169246,0.988060,195.383_12730_266.0_185.0_mastercard_224.0_cre...
505698,4169247,0.995612,195.383_11201_103.0_185.0_visa_226.0_debit_nan...
506026,4169575,0.926213,18.321_9941_273.0_185.0_mastercard_224.0_credi...
506041,4169590,0.925118,18.321_4461_375.0_185.0_mastercard_224.0_debit...
506461,4170010,0.978927,24.1_16136_204.0_185.0_visa_138.0_debit_nan_gm...
506467,4170016,0.993927,24.1_16346_324.0_185.0_visa_226.0_credit_nan_g...
506472,4170021,0.997097,24.1_3702_311.0_185.0_visa_226.0_debit_nan_gma...

In [11]:
int(output.shape[0]*0.2)

101338

In [12]:
output = output.loc[:101340]

In [13]:
output.shape

(101341, 3)

In [39]:
# rule

rule = output.loc[output["isFraud"] > 0.95]
rule.index = range(len(rule))

delta = 3
rule["window_delta_" + str(delta)] = 0

rule[["TransactionID", "isFraud", "card_str", "window_delta_" + str(delta)]]


for i in tqdm_notebook(range(delta, len(rule))):
    cur = i
    start = cur - delta
    end =   cur + delta
    cur_card_str = rule.loc[cur, "card_str"]
    cnt  = rule.loc[start:end].loc[rule["card_str"] == cur_card_str].shape[0] - 1
    rule.loc[cur, "window_delta_" + str(delta)] = cnt
    
    
rule[["TransactionID", "isFraud", "card_str", "window_delta_" + str(delta)]]


sub.loc[sub["TransactionID"].isin(list(rule.loc[rule["window_delta_3"] != 0, "TransactionID"])), "isFraud"] = 1.


sub.loc[sub["TransactionID"].isin(list(rule.loc[rule["window_delta_3"] != 0, "TransactionID"]))]


sub.to_csv('../output/final_sub_v2_rule1.csv', index=False)

In [17]:
TransactionID = 3764849

sub.loc[sub['TransactionID'] == TransactionID, "isFraud"]

101300    0.966982
Name: isFraud, dtype: float64

In [18]:
sub.loc[sub['TransactionID'] == TransactionID, "isFraud"] = 0.

In [19]:
sub.loc[sub['TransactionID'] == TransactionID, "isFraud"]

101300    0.0
Name: isFraud, dtype: float64

In [20]:
sub.shape

(506691, 2)

In [21]:
sub.to_csv('../output/final_sub_v2_' + str(TransactionID) + '.csv', index=False)

In [ ]:
# label为1的样本
3697927
3764849

# label为0的样本
3668193